{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    {# djlint:off H013,H006 #}
    <!-- start banner -->
    <section class="bg-fixed bg-center max-sm:max-h-[300px] h-[500px] relative bg-[url(https://m.media-amazon.com/images/G/01/AdProductsWebsite/images/campaigns/primeVideo/PV_titleScreens_16Shows._TTW_.jpeg)]">
        <div class="bg-[#fca21181] w-full h-full absolute flex justify-center items-center">
            <img class="max-w-[400px]"
                 src="{% static 'images/logo__amazon.png' %}"
                 alt />
        </div>
    </section>
   <!-- start section Amazon Movies -->
  {% include "Section_Items.html" with title="آخر افلام amazon" logo="images/amazon.png" more="amazon_movies" watch=movies_amazon link="watch_movies" %}
  
  <!-- start section Amazon series -->
  {% include "Section_Items.html" with title="آخر مسلسلات amazon" logo="images/amazon.png" more="amazon_series" watch=series_amazon link="watch_series" %}
{% endblock content %}
