{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <div class="section">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>المفضلات</h3>
                </div>
            </div>
            <div class="grid__section">
                {% for favourite in favourites %}
                    <div class="items" style="position: relative">

                        {% if "فيلم" in favourite.name %}
                            <a style="display: block;

                            position: absolute;
                            z-index: 1;
                            font-size: 19px;
                            background: #fca311;
                            padding: 5px;
                            left: 0;" href="{% url "delete" movies=favourite.name username=favourite.user %}">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                            <a class="item" href="{% url "watch_movies" movies=favourite.name|name_to_url %}">
                                <div class="poster">
                                    <img src="{{ favourite.image }}" alt=""/>
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="play"><i class="fas fa-play"></i></div>
                                        <div class="rate">{{ favourite.rate }}</div>
                                        <div class="name">{{ favourite.name }}</div>
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a style="display: block;

                            position: absolute;
                            z-index: 1;
                            font-size: 19px;
                            background: #fca311;
                            padding: 5px;
                            left: 0;" href="{% url "delete" movies=favourite.name username=favourite.user %}">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                            <a class="item" href="{% url "watch_series" series=favourite.name|name_to_url %}">
                                <div class="poster">
                                    <img src="{{ favourite.image.url }}" alt=""/>
                                </div>
                                <div class="overlay">
                                    <div class="info">
                                        <div class="play"><i class="fas fa-play"></i></div>
                                        <div class="rate">{{ favourite.rate }}</div>
                                        <div class="name">{{ favourite.name }}</div>
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                {% empty %}
                    <div style="color: #fca311">المفضلات فارغة</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}