{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
  {# djlint:off H013,H006 #}
  <!-- start slider -->
  <div class="mt[30px] select-none">
    <div class="container">
      <div class="relative w-full md:h-[500px] h-[200px] overflow-hidden">
        <div class="slider flex transition-transform absolute w-full h-full">
          {% for banner in banners|slice:"0:5" %}
            <img class="flex-shrink-0 object-cover w-full h-full"
                 src="{{ banner.image.url }}"
                 alt="" />
          {% endfor %}
        </div>
        <button class="next" onclick="nextSlide()">
          <i class="fas fa-arrow-right"></i>
        </button>
        {% comment %} <ul class="pagination">
          <li data-pag=".pag1"></li>
          <li data-pag=".pag2"></li>
          <li data-pag=".pag3"></li>
          <li data-pag=".pag4"></li>
          <li data-pag=".pag5"></li>
        </ul> {% endcomment %}
        <button class="previous" onclick="prevSlide()">
          <i class="fas fa-arrow-left"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- start section Netflix movies -->
  {% include "Section_Items.html" with title="آخر افلام Netflix" logo="images/netflix.ico" more="netflix_movies" watch=movies_netflix link="watch_movies" %}
  <!-- start section amazon movies -->
  {% include "Section_Items.html" with title="آخر افلام amazon" logo="images/amazon.png" more="amazon_movies" watch=movies_amazon link="watch_movies" %}
  <!-- start section Netflix series -->
  {% include "Section_Items.html" with title="آخر مسلسلات Netflix" logo="images/netflix.ico" more="netflix_series" watch=series_netflix link="watch_series" %}
  <!-- start section Amazon series -->
  {% include "Section_Items.html" with title="آخر مسلسلات amazon" logo="images/amazon.png" more="amazon_series" watch=series_amazon link="watch_series" %}
  <script>
    let currentIndex = 0;
    const slider = document.querySelector(".slider");
    const totalSlides = slider.children.length;
 
    function updateSlider() {
      slider.style.transform = `translateX(${currentIndex * 100}%)`;

    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % totalSlides;
        updateSlider();
    }

    function prevSlide() {
        currentIndex = (currentIndex - 1 + totalSlides) % totalSlides;
        updateSlider();
    }
  </script>
{% endblock content %}
