{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <!-- start slider -->
    <div class="slider">
        <div class="container">
            <div class="slides">
                {% for banner in banners|slice:"0:5" %}
                    <div class="slide slide1 pag1">
                        <img style="width: 100%;" src="{{ banner.image }}"
                             alt=""/>
                    </div>
                {% endfor %}
                <div class="next"><i class="fas fa-arrow-right"></i></div>
                <ul class="pagination">
                    <li data-pag=".pag1"></li>
                    <li data-pag=".pag2"></li>
                    <li data-pag=".pag3"></li>
                    <li data-pag=".pag4"></li>
                    <li data-pag=".pag5"></li>
                </ul>
                <div class="previous"><i class="fas fa-arrow-left"></i></div>
            </div>
        </div>
    </div>
    <!-- start section Netflix movies -->
    <div class="section" id="netflix_movies">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر افلام Netflix</h3>
                    <div class="icon"><img src="{% static "images/netflix.ico" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "netflix_movies" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for movies in movies_netflix|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_movies" movies=movies.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ movies.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ movies.rate }}</div>
                                    <div class="name">{{ movies.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- start section amazon movies -->
    <div class="section" id="amazon_movies">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر افلام Amazon</h3>
                    <div class="icon"><img src="{% static "images/amazon.png" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "amazon_movies" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for movies in movies_amazon|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_movies" movies=movies.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ movies.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ movies.rate }}</div>
                                    <div class="name">{{ movies.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- start section Netflix series -->
    <div class="section" id="netflix_series">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر مسلسلات Netflix</h3>
                    <div class="icon">
                        <img src="{% static "images/netflix.ico" %}" alt=""/>
                    </div>
                </div>
                <a class="more" href="{% url "netflix_series" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for series in series_netflix|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_series" series=series.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ series.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ series.rate }}</div>
                                    <div class="name">{{ series.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- start section Amazon series -->
    <div class="section">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر مسلسلات Amazon</h3>
                    <div class="icon"><img src="{% static "images/amazon.png" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "amazon_series" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for series in series_amazon|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_series" series=series.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ series.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ series.rate }}</div>
                                    <div class="name">{{ series.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
