{% extends "base.html" %}
{% block login %}
    sss
{% endblock login %}
{% block content %}
    <!-- start login -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h3>تسجيل الدخول</h3>
            {% if messages %}
                {% for msg in messages %}<div class="mb-8 text-[#foo]">{{ msg }}</div>{% endfor %}
            {% endif %}
            <div class="form__group">
                <label id="username">إسم المستخدم</label>
                <input type="text" name="username" id="username" />
            </div>
            <div class="form__group">
                <label>كلمة السر</label>
                <input type="password" name="password" />
            </div>
            <button>دخول</button>
        </form>
    </div>
{% endblock content %}
