{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <!-- start section Netflix movies -->
    <div class="section" id="netflix_movies">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر افلام Netflix</h3>
                    <div class="icon"><img src="{% static "images/netflix.ico" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "netflix_movies" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for movies in movies_netflix|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_movies" movies=movies.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ movies.image.url }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ movies.rate }}</div>
                                    <div class="name">{{ movies.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- start section amazon movies -->
    <div class="section" id="amazon_movies">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر افلام Amazon</h3>
                    <div class="icon"><img src="{% static "images/amazon.png" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "amazon_movies" %}">شاهد المزيد</a>
            </div>
            <div class="grid__section">
                {% for movies in movies_amazon|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_movies" movies=movies.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ movies.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ movies.rate }}</div>
                                    <div class="name">{{ movies.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}