{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    {# djlint:off H013,H006 #}
    <!-- start section Netflix movies -->
    {% include "Section_Items.html" with title="آخر افلام Netflix" logo="images/netflix.ico" more="netflix_movies" watch=movies_netflix link="watch_movies" %}
    <!-- start section Amazon Movies -->
    {% include "Section_Items.html" with title="آخر افلام amazon" logo="images/amazon.png" more="amazon_movies" watch=movies_amazon link="watch_movies" %}
{% endblock content %}
