{% extends "base.html" %}
{% load custom_tags %}
{% load static %}
{% block content %}
    <!-- start section Netflix series -->
    <div class="section" id="netflix_series">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر مسلسلات Netflix</h3>
                    <div class="icon">
                        <img src="{% static "images/netflix.ico" %}" alt=""/>
                    </div>
                </div>
                <a class="more" href="{% url "netflix_series" %}">شاهد المزيد</a>
            </div>
            <div class="flex__section">
                {% for series in series_netflix|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_series" series=series.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ series.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ series.rate }}</div>
                                    <div class="name">{{ series.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- start section Amazon series -->
    <div class="section">
        <div class="container">
            <div class="title__section">
                <div class="title__inner">
                    <h3>آخر مسلسلات Amazon</h3>
                    <div class="icon"><img src="{% static "images/amazon.png" %}" alt=""/></div>
                </div>
                <a class="more" href="{% url "amazon_series" %}">شاهد المزيد</a>
            </div>
            <div class="flex__section">
                {% for series in series_amazon|slice:"0:12" %}
                    <div class="items">
                        <a class="item" href="{% url "watch_series" series=series.name|name_to_url %}">
                            <div class="poster">
                                <img src="{{ series.image }}" alt=""/>
                            </div>
                            <div class="overlay">
                                <div class="info">
                                    <div class="play"><i class="fas fa-play"></i></div>
                                    <div class="rate">{{ series.rate }}</div>
                                    <div class="name">{{ series.name }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}