{% extends "base.html" %}
{% block content %}

    <!-- start login -->
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {% if messages %}
                {% for msg in messages %}
                    <div style="margin-bottom: 30px;color: #F00">{{ msg }}</div>
                {% endfor %}
            {% endif %}
            <h3>تسجيل جديد</h3>
            <div class="form__group">
                <label for="username">إسم المستخدم</label>
                <input type="text" name="username" id="username"/>
            </div>
            <div class="form__group">
                <label for="first_name">الإسم الأول </label>
                <input type="text" name="first_name" id="first_name"/>
            </div>
            <div class="form__group">
                <label for="last_name">الإسم الثاني </label>
                <input type="text" name="last_name" id="last_name"/>
            </div>
            <div class="form__group">
                <label for="email">اليريد الالكتروني</label>
                <input type="email" name="email" id="email"/>
            </div>
            <div class="form__group">
                <label for="password">كلمة السر</label>
                <input type="password" name="password" id="password"/>
            </div>
            <div class="form__group">
                <label for="re_password">تأكيد كلمة السر</label>
                <input type="password" name="re_password" id="re_password"/>
            </div>
            <button>تسجيل</button>
        </form>
    </div>
{% endblock %}
