{% extends "base.html" %}
{% load custom_tags %}
{% block content %}
    <!-- start watch -->
    <section class="watch">
        <div class="container">
            <div class="flex__watch">
                {% for show in shows %}
                    <div class="poster__watch">
                        <img
                                src="{{ show.image }}"
                                alt="{{ show.name }}"
                        />
                    </div>
                    <div class="info__watch">
                        {% for episode in current_episode %}
                            <h3>مشاهدة الحلقة {{ episode.number }} من {{ episode.name.name }}</h3>

                        {% endfor %}
                        <p>
                            {{ show.describe }}
                        </p>
                        <div class="flex__info">
                            <div class="item__info">تصنيف {{ show.type }} : {{ show.category }}</div>
                            <div class="item__info">سنة الإنتاج : {{ show.date_production }}</div>
                            <div class="item__info">مدة {{ show.type }} : 89</div>
                            <div class="item__info">التصنيف : {{ show.rate }}</div>

                            <div class="item__info">
                                بطولة : {{ show.stars }}
                            </div>
                            <div class="item__info">إخراج : {{ show.creator }} </div>
                            {% if user.is_authenticated %}
                                <form class="item__info custom_form" method="post">
                                    {% csrf_token %}
                                    <input name="name" value="{{ show.name }}" hidden>
                                    <input name="username" value="{{ user.id }}" hidden>
                                    <input name="rate" value="{{ show.rate }}" hidden>
                                    <input name="image" value="{{ show.image }}" hidden>
                                    <input class="custom_input" type="submit" value="اضافة الى المفضلات">
                                    {% if messages %}
                                        {% for msg in messages %}
                                            <span style="color: #e5e5e5">{{ msg }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for episode in current_episode %}
                <video controls="" crossorigin="" id="player">
                    <source
                            src="{{ episode.video }}"
                            type="video/mp4"
                            size="720"
                    />
                </video>
            {% endfor %}
        </div>
    </section>
    <div class="episodes">
        <div class="container">
            <div class="flex__episodes">
                {% for episode in episodes %}
                    <div class="episode">
                        <a href="{% url "watch_series_episode"  series=episode.name.name|name_to_url episode=episode.number %}">الحلقة {{ episode.number }}</a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
