{% extends "base.html" %}
{% block content %}
    {# djlint:off H013,H006 #}
    <!-- start watch -->
    {% for show in shows %}
        <section class="relative bg-cover bg-center mb-6 bg-[url(show.imageUrl)]">
            <div class=" bg-[#fca311] bg-opacity-50">
                <div class="container">
                    <div class="flex items-center  gap-5 p-4  w-full h-full max-lg:flex-col">
                        <div class="w-1/5 max-lg:w-[300px]">
                            {% if show.image %}
                                <img class="h-full"
                                     src="https://res.cloudinary.com/dnru0whph/image/upload/v1/{{ show.image }}"
                                     alt="" />
                            {% elif show.imageUrl %}
                                <img class="h-full" src="{{ show.imageUrl }}" alt="" />
                            {% else %}
                                <img src=" https://www.critics.io/img/movies/poster-placeholder.png"
                                     alt="" />
                            {% endif %}
                        </div>
                        <div class="w-[80%] max-md:w-full max-sm:text-right">
                            <h3 class="text-2xl font-semibold">مشاهدة{{ show.name }}</h3>
                            <p class="my-10">{{ show.describe }}</p>
                            <div class="flex flex-wrap justify-between max-sm:flex-col">
                                <div class="mb-5 w-1/2 leading-normal">تصنيف الفيلم : {{ show.category }}</div>
                                <div class="mb-5 w-1/2 leading-normal">سنة الإنتاج : {{ show.date_production }}</div>
                                <div class="mb-5 w-1/2 leading-normal">مدة الفيلم : {{ show.durations }} دقيقة</div>
                                <div class="mb-5 w-1/2 leading-normal">التصنيف : {{ show.rate }}</div>
                                <div class="mb-5 w-1/2 leading-normal">بطولة : {{ show.stars }}</div>
                                <div class="mb-5 w-1/2 leading-normal">إخراج : {{ show.creator }}</div>
                                {% if user.is_authenticated %}
                                    <form class="item__info custom_form" method="post">
                                        {% csrf_token %}
                                        <input name="name" value="{{ show.name }}" hidden />
                                        <input name="username" value="{{ user.id }}" hidden />
                                        <input name="rate" type="number" value="{{ show.rate }}" hidden />
                                        {% if show.image %}
                                            <input name="image" value="{{ show.image.url }}" hidden />
                                        {% else %}
                                            <input name="image" value="{{ show.imageUrl }}" hidden />
                                        {% endif %}
                                        <input class="custom_input" type="submit" value="اضافة الى المفضلات" />
                                        {% if messages %}
                                            {% for msg in messages %}<span>{{ msg }}</span>{% endfor %}
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <div class="container relative overflow-hidden w-full pt-[56.25%]">
        {{ episodes }}
        {% for episode in episodes %}
            {% if episode.video %}
                <video controls allowfullscreen>
                    <source src="{{ episode.video }}" />
                </video>
            {% else %}
                <iframe allowfullscreen
                        class="absolute top-0 bottom-0 right-0 left-0 w-full h-full"
                        src="{{ episode.iframe }}"></iframe>
            {% endif %}
        {% endfor %}
    </div>
    <div class="episodes">
        <div class="container">
            <div class="flex__episodes flex flex-col">
                {% for show in shows %}
                    <div class="episode w-full">
                        <a href="">إخراج: {{ show.creator }}</a>
                    </div>
                    <div class="episode w-full">
                        <a href="">تمثيل: {{ show.stars }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
