{% extends "base.html" %}
{% block content %}
    {# djlint:off H013,H006 #}
    <!-- start watch -->
    {% for movie in movies %}
        <section class="relative bg-cover bg-center mb-6 "
                 style="background-image: url( {{ movie.imageUrl }}">
            <div class=" bg-[#fca311] bg-opacity-50">
                <div class="container">
                    <div class="flex items-center  gap-5 p-4  w-full h-full max-lg:flex-col">
                        <div class="w-1/5 max-lg:w-[300px]">
                            {% if movies.image %}
                                <img class="h-full"
                                     src="https://res.cloudinary.com/dnru0whph/image/upload/v1/{{ movies.image }}"
                                     alt="" />
                            {% elif movies.imageUrl %}
                                <img class="h-full" src="{{ movies.imageUrl }}" alt="" />
                            {% else %}
                                <img class="h-full w-full object-cover"
                                     src=" https://www.critics.io/img/movies/poster-placeholder.png"
                                     alt="" />
                            {% endif %}
                        </div>
                        <div class="w-[80%] max-md:w-full max-sm:text-right">
                            <h3 class="text-2xl font-semibold">مشاهدة{{ movie.name }}</h3>
                            <p class="my-10">{{ movie.describe }}</p>
                            <div class="flex flex-wrap justify-between max-sm:flex-col font-bold">
                                <div class="mb-5 w-full md:w-1/2 leading-normal">تصنيف الفيلم : {{ show.category }}</div>
                                <div class="mb-5 w-full md:w-1/2 leading-normal">سنة الإنتاج : {{ movie.date_production }}</div>
                                <div class="mb-5 w-full md:w-1/2 leading-normal">مدة الفيلم : {{ movie.durations }} دقيقة</div>
                                <div class="mb-5 w-full md:w-1/2 leading-normal">التصنيف : {{ movie.rate }}</div>
                                <div class="mb-5 w-full md:w-1/2 leading-normal">بطولة : {{ movie.stars }}</div>
                                <div class="mb-5 w-full md:w-1/2 leading-normal">إخراج : {{ movie.creator }}</div>
                                {% if user.is_authenticated %}
                                    <form class="item__info custom_form" method="post">
                                        {% csrf_token %}
                                        <input name="name" value="{{ movie.name }}" hidden />
                                        <input name="username" value="{{ user.id }}" hidden />
                                        <input name="rate" type="number" value="{{ movie.rate }}" hidden />
                                        {% if show.image %}
                                            <input name="image" value="{{ show.image.url }}" hidden />
                                        {% else %}
                                            <input name="image" value="{{ show.imageUrl }}" hidden />
                                        {% endif %}
                                        <input class="custom_input" type="submit" value="اضافة الى المفضلات" />
                                        {% if messages %}
                                            {% for msg in messages %}<span>{{ msg }}</span>{% endfor %}
                                        {% endif %}
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
    <div class="container relative overflow-hidden w-full pt-[56.25%]">
        {% for movie in movies %}
            {% if movie.video %}
                <video controls allowfullscreen>
                    <source src="{{ movie.video }}" />
                </video>
            {% else %}
                <iframe allowfullscreen
                        class="absolute top-0 bottom-0 right-0 left-0 w-full h-full"
                        src="{{ movie.iframe }}"></iframe>
            {% endif %}
        {% endfor %}
    </div>
    <div class="episodes">
        <div class="container">
            <div class="flex__episodes flex flex-col">
                {% for movie in movies %}
                    <div class="episode w-full">
                        <a href="">إخراج: {{ movie.creator }}</a>
                    </div>
                    <div class="episode w-full">
                        <a href="">تمثيل: {{ movie.stars }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script type="application/javascript">
        function resizeIFrameToFitContent( iFrame ) {
        
            iFrame.width  = iFrame.contentWindow.document.body.scrollWidth;
            iFrame.height = iFrame.contentWindow.document.body.scrollHeight;
        }
        
        window.addEventListener('DOMContentLoaded', function(e) {
        
            var iFrame = document.getElementById( 'iFrame1' );
            resizeIFrameToFitContent( iFrame );
        
            // or, to resize all iframes:
            var iframes = document.querySelectorAll("iframe");
            for( var i = 0; i < iframes.length; i++) {
                resizeIFrameToFitContent( iframes[i] );
            }
        } );
        
    </script>
{% endblock content %}
